@import "fuentes";

.navContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 25px 85px 50px;
  width: 100%;
  grid-template-areas:
    "head head head"
    "logo input iconos "
    "nav nav nav ";
  .griditems {
    background-color: black;
  }
  .a0 {
    height: 25px;
    grid-area: head;
    color: #ffffff;
    background-color: #3dc5ac;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    letter-spacing: 1px;
    p {
      margin-top: 12px;
    }
  }
  .a1 {
    grid-area: logo;
    display: flex;
    justify-content: start;
    align-items: center;
    img {
      width: 230px;
      margin-left: 50px;
    }
  }
  .a2 {
    grid-area: input;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 100%;
      padding: 5px;
      height: 45px;
      border-radius: 15px;
      font-family: akumal;
    }
    &::placeholder {
      color: rgb(0, 0, 0);
    }
  }
  .a3 {
    display: flex;
    align-items: center;
    justify-content: end;
    a {
      color: whitesmoke;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        color: #3dc5ac;
      }
    }

    .iconoContainer {
      grid-area: iconos;
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      width: 80%;
      font-family: akumal;
      font-weight: bolder;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
    .icono_1 {
      display: flex;
      text-align: center;
      padding: 10px;
      .icono1 {
        width: 30px;
      }
    }
    .icono_2 {
      display: flex;
      padding: 10px;
      text-align: center;
      margin-top: 2px;
      .icono2 {
        width: 32px;
        box-sizing: content-box;
      }
    }
    .icono_3 {
      display: flex;
      padding: 10px;
      text-align: center;
      .icono3 {
        width: 30px;
        padding: 5px;
        box-sizing: content-box;
      }
    }
  }
}
.a4 {
  grid-area: nav;
  border-top: 1px solid whitesmoke;
  height: 50px;
  width: 100%;
  a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: akumal;
    transition: 0.4s;
    &:hover {
      color: #3dc5ac;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 50px;
    padding: 20px;
    li {
      list-style: none;
      color: white;
    }
  }
}
.navConteiner1 {
  display: none;
  grid-area: bar;
}
