@import "media";
@import "variables";

.slide {
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
  .contslide {
    width: 200%;
    margin: 0 auto;
    display: flex;
    animation: pasar 5s infinite alternate;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    li {
      list-style: none;
      padding: 0px;
    }
  }
  .slide1 {
    width: 100%;
    height: auto;
    margin-top: 7px;
  }

  @keyframes pasar {
    0% {
      margin-left: 0;
    }
    35% {
      margin-left: 0;
    }
    50% {
      margin-left: -100%;
    }
    100% {
      margin-left: -100%;
    }
  }
}

.bannerGris {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.atajosGrid {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  gap: 20px;
  .atajo {
    column-gap: 10px;
    background-color: $colorPrincipal;
    object-fit: cover;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      &:hover {
        transform: scale(1.2);
        transition: 2s;
      }
    }
  }
  .b1 {
    background-color: $colorPrincipal;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .b2 {
    background-color: $colorPrincipal;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}

.tituloslide {
  font-family: $textFont;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

.tituloformularios {
  font-family: $textFont;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.formularios {
  font-family: $textFont;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 350px;
  gap: 20px;
  .c1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $colorTexto;
    background-color: $colorFondo;
    border-radius: 15px;
    .izquierdo {
      display: flex;
      justify-content: center;
      align-items: center;
      .titulo h3 {
        font-size: 35px;
        width: 150px;
        text-align: center;
      }
    }
    .derecho {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      padding: 10px;
      .textoemail h4 {
        font-size: 20px;
        padding: 10px;
      }
      .email1 {
        width: 300px;
        text-align: center;
        border-radius: 50px;
        height: 30px;
        margin-bottom: 20px;
      }

      .boton {
        width: 100px;
        border-radius: 15px;
        background-color: $colorPrincipal;
        color: $colorTexto;
        &:hover {
          color: $colorFondo;
        }
      }
    }
  }
  .c2 {
    color: $colorTexto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colorFondo;
    border-radius: 15px;
    .formulario_h2 {
      text-align: center;
    }
    .campos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      form label {
        font-size: 20px;
      }
      .nombre_campos {
        margin-top: 10px;
        input {
          margin-top: 0px;
          text-align: center;
          width: 300px;
          border-radius: 50px;
          height: 30px;
        }
      }
      .email_campos {
        margin-top: 10px;
        input {
          margin-top: 0px;
          text-align: center;
          width: 300px;
          border-radius: 50px;
          height: 30px;
        }
      }
      .password_campos {
        margin-top: 10px;
        input {
          margin-top: 0px;
          text-align: center;
          width: 300px;
          border-radius: 50px;
          height: 30px;
        }
      }
      .boton_campos input {
        width: 100px;
        border-radius: 15px;
        background-color: $colorPrincipal;
        color: whitesmoke;
        margin-top: 10px;
        margin-left: 10px;
        &:hover {
          color: $colorFondo;
        }
      }
    }
  }
}
.envios {
  width: 80%;
  margin: 0 auto;
  color: $colorFondo;
  margin-top: 50px;
}
.devoluciones {
  width: 80%;
  margin: 0 auto;
  color: $colorFondo;
  margin-top: 50px;
}
